# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

#Файл с моковыми данными
mock.json

#Загруженные изображения
src/express/upload/img/*.png
src/express/upload/img/*.jpg
src/express/upload/img/*.jpeg

#Файл переменных окружения
.env

markup/fixesList.md
