extends ../general/layout.pug

block content
  main.articles-category
    h1 #{activeCategoryName}
    section.articles-category__theme-list
      include ../components/categories-list.pug
    section.articles-category__list.preview
      include ../components/articles-list.pug