extends general/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Приветствую вас в моем блоге 👏
      Налейте себе горячего чаю, возьмите печеньки и устраивайтесь поудобнее ☕
    section.main-page__theme-list
      include components/categories-list.pug
    if articles.length
      .main-page__section-flex
        include components/hot-list.pug
        include components/latest-comments-list.pug
      section.main-page__list.preview
        include components/articles-list.pug
      .preview__toggle-wrapper
        +pagination(page, totalPages, 8)
    else
      include components/no-articles.pug