style.
  .server-error{
    border-radius: 10px;
    color: white;
    background-color: tomato;
    margin: 20px 0;
    padding: 10px;
  }

mixin insertErrorMessages(messages)
  if messages
    each message in messages
      .server-error= message

mixin pagination(page, totalPages, width, prefix)
  -
    let start = page - width;
    let end = page + width;

    if(start < 1){
      end += 1 - start;
      start = 1;
    }

    if(end > totalPages){
      start -= end - totalPages;
      end = totalPages;
    }

    if(start < 1){
      start = 1;
    }
    let i = start - 1

meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='description' content='Личный блог Типотека')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title Типотека
link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
link(rel='stylesheet' href='/css/style.min.css')
.wrapper.wrapper--nobackground
  include header.pug
  block content
  include footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
