h2.visually-hidden Список тем
ul.themes
  each category in categories
    li.themes__item
      a(class=`themes__item-link ${activeCategoryId === category.id ? `themes__item-link--active` : ``}` href=`/articles/category/${category.id}`)
        | #{category.name}
        sup #{category.count}