section.main-page__hot.hot
  h2(class=`hot__name ${hotArticles.length ? `` : `hot__name--empty`}`)
    | Самое обсуждаемое 
    span.hot__icon.hot__icon--fire
  ul.hot__list
    if hotArticles.length
      each article in hotArticles
        li.hot__list-item
          a.hot__list-link(href=`/articles/${article.id}`) #{article.announce} 
            sup.hot__link-sup #{article.commentsCount}
    else
      p.hot__empty Здесь пока ничего нет...